body {
    background: #181A18;   /*black backfround color */
    color: #fff;   /* font color */
} 
.navbar {
    border-bottom: #f9a825 3px solid; /* border orange color line */
    opacity: 0.8; 
}

h2, h5 {
  color: #f9a825;
}

.menu {
  padding-top: 100px;
}

ul {
  list-style-type: none;
  width: 85%;
  margin: auto;
  padding: 0;
}

.list {
  display: flex;
}

.first {
  margin-right: 0.5em;
  flex: 1;
  display: flex;
}

.price {
  text-align: right;
  flex: 0 0 4em;
}

.first:after {
  content: '';
  border-bottom: dashed 1px white;
  flex:1;

}

.fas {
  color: #f9a825;
  padding: 5px;
  font-size: 40px;
  border-radius: 5px;
}

.nav, a{
  color: #f9a825;
}

a:hover {
  color: white;
}

p {
  font-size: 11px;
}